# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos de proyecto de Audacity
*.aup
*.aup3
*_data/

# Excluir archivos pesados y multimedia masiva
*.zip
*.rar
*.exe
*.mp4
*.mov
*.avi

# EXCLUIR ARCHIVOS MULTIMEDIA PESADOS Y COMPRIMIDOS
*.zip
*.rar
*.7z
*.mp3
*.wav
*.mp4
*.avi
*.mov
*.wmv
*.pdf

# Archivos de diseño de CorelDRAW
*.CDR
*.cdr

# EXCLUIR ARCHIVOS PESADOS DE DISEÑO COREL DRAW
*.CDR
*.cdr